In [10]:
# Importing Required Libraries
import numpy as np
import pandas as pd

In [11]:
# reading CSV that Contains Revised data
df = pd.read_csv('zenarate_user_cleaned.csv')

In [12]:
# Splitting Name to First and last name
df[['First_name*','Last_name*']] = df['User Name'].loc[df['User Name'].str.split().str.len() == 2].str.split(expand=True)

In [13]:
# Adding Team-Name Column in Dataframe
df['Team_name*'], df['Password'], df['DefaultEmail'] = "Northwestern Mutual" , "", 1
df.head(1)

,User Name,Role,LABEL\nROLE,LABEL\nFPA Class,LABEL\nNetwork Office,Primary Coach,Primary Coach's Email,Secondary Coach,Secondary Coach's Email,Other Coaches,...,Status,Date of Joining,Date of Inactivation,User-Id,Secondary Email,First_name*,Last_name*,Team_name*,Password,DefaultEmail
0,Kris Holley,Admin,Administrator,NaN,NaN,Sarah Briggs,sarahbriggs@northwesternmutual.com,Kim Leinen,kimleinen@northwesternmutual.com,"Ateela Duffy,Blake Reistad,David Balmer,Develo...",...,Active,Oct 13 2022,NaN,kristopherholley@northwesternmutual.com,NaN,Kris,Holley,Northwestern Mutual,,1

In [14]:
# Renaming Columns According To Desired Output
df.rename(columns = {
    "Role":"Role_name*", 
    "User-Id": "User-ID_email*", 
    "Secondary Email": "Secondary_email",
    "Primary Coach's Email": "Primary_coach_email",
    "Secondary Coach's Email": "Secondary_coach_email",
    "Other Coaches": "Other_coach",
    "LABEL\nROLE": "Role",
    "LABEL\nNetwork Office": "Network Office",
    "LABEL\nFPA Class": "FPA Class"
}
    , inplace = True)

In [16]:
# Dropping Irrelevant columns
df.drop(['User Name', 'Primary Coach', 'Secondary Coach', "Other Coaches's Email", 'Status', 'Date of Joining', 
         'Date of Inactivation',], axis=1, inplace=True)

In [21]:
df.tail(1)

,Role_name*,Role,FPA Class,Network Office,Primary_coach_email,Secondary_coach_email,Other_coach,User-ID_email*,Secondary_email,First_name*,Last_name*,Team_name*,Password,DefaultEmail
2476,Super User,FR,6 August 2023,GA135,NaN,NaN,NaN,pedro.r.garcia@gmail.com,NaN,Pedro,Garcia,Northwestern Mutual,,1

In [18]:
# Changing Column Positions According to Requirement
updated_df = df.iloc[:,[11, 0, 9, 10, 7, 8, 12, 13, 4, 5, 6, 1, 3, 2]]

In [19]:
updated_df.head(1)

,Team_name*,Role_name*,First_name*,Last_name*,User-ID_email*,Secondary_email,Password,DefaultEmail,Primary_coach_email,Secondary_coach_email,Other_coach,Role,Network Office,FPA Class
0,Northwestern Mutual,Admin,Kris,Holley,kristopherholley@northwesternmutual.com,NaN,,1,sarahbriggs@northwesternmutual.com,kimleinen@northwesternmutual.com,"Ateela Duffy,Blake Reistad,David Balmer,Develo...",Administrator,NaN,NaN

In [20]:
# Saving Updated Dataframe in CSV
updated_df.to_csv('zenarate_user_to_be_updated.csv', index=False)

In [22]:
updated_df.shape

(2477, 14)